{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />


{% endblock %}
{% block body %}

<div class="container">

    <form id="form" action="{{ path('cliente_new') }}" class="form-horizontal needs-validation" role="form" method="post"  novalidate>

        <div class="card mx-auto mt-5">
            <div class="card-header">Información general</div>
            <div class="card-body">

                <div class="form-row">

                    <div class="form-group col-md-3">
                        {{ form_row(form.tipoDocumento) }}
                        <div class="invalid-feedback">
                            Este valor es requerido.
                        </div>                
                     
                    </div>

                    <div class="form-group col-md-3">
            
                      
                        {{ form_label(form.ruc) }}
                        
                        <div class="input-group mb-3">
                            {{ form_widget(form.ruc) }}

                            <div class="input-group-append">
                                <span class="input-group-text" id="buscar_ruc"><i class="fa fa-search fa-lg " data-toggle="tooltip" title="Buscar"></i></span>
                            </div>
                            <div class="invalid-feedback">
                                Este valor es requerido.
                            </div> 
                                                         
                        </div>
 

                    </div>                         
                    <div class="form-group col-md-3">
                        {{ form_row(form.razonSocial) }}
                        <div class="invalid-feedback">
                            Este valor es requerido.
                        </div>                
                     
                    </div>
                
                    <div class="form-group col-md-3">
                        {{ form_row(form.condicion) }}            
                     
                    </div>



                </div>

                <div class="form-row">

                    <div class="form-group col-md-3">
                        {{ form_row(form.ciudad) }}
                      
                    </div>

                    <div class="form-group col-md-3">
                        {{ form_row(form.telefono) }}

                        <div class="invalid-feedback">
                            Este valor es requerido.
                        </div>                
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_row(form.celular) }}

                        <div class="invalid-feedback">
                            Este valor es requerido.
                        </div>                
                    </div>
               
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ form_row(form.departamento) }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_row(form.provincia) }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_row(form.distrito) }}
                    </div>                       
                </div>
                <div class="form-row">

                    <div class="form-group col-md-4">
                        {{ form_row(form.direccion) }}
                      
                    </div>

                    <div class="form-group col-md-3">
                        {{ form_row(form.email) }}

                        <div class="invalid-feedback">
                            Este valor es requerido.
                        </div>                
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_row(form.web) }}

                        <div class="invalid-feedback">
                            Este valor es requerido.
                        </div>                
                    </div>
               
                </div>
                <div class="form-row">

                    <div class="form-group col-md-3">
                        {{ form_row(form.local) }}
                      
                    </div>

                    <div class="form-group col-md-2">
                        {{ form_row(form.sexo) }}

                        <div class="invalid-feedback">
                            Este valor es requerido.
                        </div>                
                    </div>  

                    <div class="form-group col-md-3">
                        {{ form_row(form.tipo) }}            
                     
                    </div>
                                                  
                </div>

            </div>
        </div>


        {{ form_row(form.estado) }}
        {{ form_widget(form._token) }}

        <div class="mt-4">
            <p class="pull-right">
                <input type="button" value="Cancelar" class="btn btn-small"  onclick="location.href='{{ path('cliente_index')}}'" />            
                <input type="submit" class="btn btn-small btn-primary" value="Guardar" />
            </p>
        </div>
        

    </form>

</div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="{{asset('js/es.js')}}" ></script>
    
    <script type="text/javascript">

        $(document).ready(function() {

            var region_select            = $("#appbundle_cliente_departamento");
            var provincia_select         = $("#appbundle_cliente_provincia");    
            var distrito_select          = $("#appbundle_cliente_distrito");

            var provnombre_text          = $("#appbundle_cliente_razonSocial");
            var provdireccion_text       = $("#appbundle_cliente_direccion");
            var provruc_text             = $("#appbundle_cliente_ruc");
            var condicion_text           = $("#appbundle_cliente_condicion");
            var btn_buscar               = $("#buscar_ruc");

            var tipo_documento           = $("#appbundle_cliente_tipoDocumento");

            tipo_documento.on('change',function(){
                
                if($(this).val() == 1){
                    $('#buscar_ruc').addClass('d-none');
                }else{
                    $('#buscar_ruc').removeClass('d-none');
                }
            })


            region_select.on("change", function(){

                var data = {
                  region      : this.value,
                  autorizado  : 'si',
                }

                provincia_select.val('').attr("disabled", "disabled");

                $.ajax({
                  method: "POST",
                  url: "{{ path('obtener_provincia_desde_region')}}",
                  data: data,
                  success: function(data){
                    provincia_select.html(data).removeAttr("disabled");
                  }

                });
            });

            provincia_select.on("change", function(){

                var data = {
                  provincia   : this.value,
                  autorizado  : 'si',
                }

                distrito_select.val('').attr("disabled", "disabled");

                $.ajax({
                  method: "POST",
                  url: "{{ path('obtener_distrito_desde_provincia')}}",
                  data: data,
                  success: function(data){
                    distrito_select.html(data).removeAttr("disabled");
                  }

                });
            });



            $(".select2").select2({
                language: "es",
                ajax: {
                    url: "{{ path('obtenerempresas')}}",
                    dataType: 'json',
                    delay: 100,
                    type: "GET",
                    data: function (params) {
                      return {
                        q: params.term,
                        page: params.page
                      };
                    },
                    processResults: function (data,params) {

                        params.page = params.page || 1;

                        return {
                            results: data.results,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };

                    },
                    cache: true
                },
                placeholder: 'Buscar RUC',
                minimumInputLength: 11,
                maximumSelectionSize: 1,
            });

            $('.select2').on('select2:select', function (e) {

                var data = e.params.data;
                var txtrucvalue  = data.id;

                console.log(txtrucvalue);
                provruc_text.val(txtrucvalue);

                $.ajax({
                  method: "POST",
                  url: "{{ path('obtenerdatosempresa')}}",
                  data: { ruc: txtrucvalue }
                })
                  .done(function( data ) {

                    if( data ){
                        provnombre_text.val(data.nombre);
                        provdireccion_text.val(data.direccion);

                        distrito_select.val(data.distrito);
                        provincia_select.val(data.provincia);
                        region_select.val(data.departamento);

                    }

                });   

            });

            btn_buscar.on("click", function(){

                var data = {
                  ruc   : provruc_text.val(),
                  token  : '5JFQh5toA0sWhj-YV3NXmt4dzE4JvJjwgYzzPJtYHgA',
                }

                $.ajax({
                    method: "GET",
                    url: "{{ path('obtenerdatosempresa')}}",
                    data: data,
                    success: function(data){

                        //console.log(data);
                        provnombre_text.val(data.nombre_o_razon_social);
                        provdireccion_text.val(data.direccion_completa);

                        distrito_select.val(data.distrito_id);
                        provincia_select.val(data.provincia_id);
                        region_select.val(data.departamento_id);

                        condicion_text.val(data.estado_del_contribuyente);

                        if(data.estado_del_contribuyente != 'ACTIVO'){
                            bootbox.alert("El cliente no esta habilitado en la SUNAT");
                        }
                    }

                });
            });


        });

    </script>

{% endblock %}  