{% extends 'base.html.twig' %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

<div class="container">

    <div class="card mx-auto mt-5">
        <div class="card-body">

            <div class="row pr-3">
                <div class="col-lg-12 ">
                    <a href="{{ path('empresa_new') }}" class="btn btn-primary pull-right">Registrar empresa</a>
                </div>
            </div>
            <div class="row mt-2 ">
                <div class="col-lg-12">
                    <table id="dataTable" class="table table-striped table-bordered ">
                        <thead>
                            <tr>
                                <th>Ítem</th>
                                <th>Nombre</th>
                                <th>RUC</th>
                                <th>Estado</th>
                                <th>Descripción</th>

                                <th class="no-sort">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% set item = 1 %}
                        {% for empresa in empresas %}
                            <tr>
                                <td>{{ item }}</td>
                                <td>{{ empresa.nombre | upper }}</td>
                                <td>{{ empresa.ruc }}</td>
                                {% set estado = 'Deshabilitado' %}
                                {% if empresa.estado %}
                                    {% set estado = 'Habilitado' %}
                                {% endif %}
                                <td>{{ estado }}</td>
                                <td>{{ empresa.descripcion }}</td>

                                <td class="text-center">

                                    <a href="javascript:eliminar({{empresa.id}})" class="mr-2" data-toggle="tooltip" data-target="" title="Eliminar">
                                        <i class="fa fa-remove fa-lg"></i>
                                    </a>

                                    <a href="{{ path('empresa_edit', { 'id': empresa.id }) }}"><i class="fa fa-edit fa-lg" data-toggle="tooltip" title="Editar"></i></a>
                                </td>

                            </tr>
                            {% set item = item + 1 %}
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
                
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}

    {{ parent() }} 


    <script type="text/javascript">

        function eliminar(id) {
            bootbox.confirm({
                buttons: {
                    confirm: {
                        label: 'Aceptar',
                    },
                    cancel: {
                        label: 'Cancelar',
                    }
                },                
                size: 'small',
                message: "¿Está seguro de eliminar el registro?", 
                callback: function(res){ 
                    if(res){
                        location = id+'/delete';
                    }
                }
            });
        } 


    </script>
          
{% endblock %}