<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ titulo }}{% endblock %}</title>
        {% block stylesheets %}

            <!-- Bootstrap Core CSS -->
            <link href="{{asset('template/vendor/bootstrap/css/bootstrap.css')}}" rel="stylesheet">

            <!-- Custom CSS -->
            <link href="{{asset('template/css/sb-admin.min.css')}}" rel="stylesheet">
            <link href="{{asset('template/css/ferretero.css')}}" rel="stylesheet">

            <!-- Custom Fonts -->
            <link href="{{asset('template/vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">

            <!-- Custom Datatables -->
            <link href="{{asset('template/vendor/datatables/dataTables.bootstrap4.css')}}" rel="stylesheet" type="text/css">
            <link href="{{asset('template/vendor/datatables/select.bootstrap4.min.css')}}" rel="stylesheet" type="text/css">
            
            <link rel="stylesheet" type="text/css" media="screen" href="{{asset('template/css/chosen.min.css') }}">

            <!-- Datepicker -->
            <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" >
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="fixed-nav sticky-footer bg-dark" id="page-top">

          <!-- Navigation-->
          <nav class="navbar navbar-expand-lg  navbar-dark bg-dark fixed-top" style="position: absolute !important;"  id="mainNav">

            {% set redireccion = 'dashboard' %}
            {% if 'ROLE_VENDEDOR' in app.user.roles or 'ROLE_ALMACENERO' in app.user.roles and 'ROLE_SUPER_ADMIN' not in app.user.roles %}
              {% set redireccion = 'almacen_productosxlocal' %}
            {% endif %}
            {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
              {% set redireccion = 'empresa_index' %}
            {% endif %}

            <a class="navbar-brand" href="{{ path(redireccion) }}">Ferretero</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">

              <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                  <a class="nav-link text-left" >
                    <i class="fa fa-fw fa-clock-o"></i>{{ "now" | date('d/m/Y H:i') }}
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-left" >
                    <i class="fa fa-fw fa-user"></i>{{ app.session.get('rol') ~ ' (' ~ app.user.username ~ ')'}}
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" data-toggle="modal" data-target="#salirModal">
                    <i class="fa fa-fw fa-sign-out"></i>Salir
                  </a>
                </li>
              </ul>


            </div>

          </nav>


          <!-- Navigation-->
          <nav class="navbar navbar-expand-lg  navbar-dark bg-dark " style=""  id="">

            <div class="collapse navbar-collapse" id="">

              <ul class="navbar-nav mr-auto">

                {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}

                  <li class="nav-item" >
                    <a class="nav-link" href="{{ path('empresa_index') }}">
                      <i class="fa fa-fw fa-dashboard"></i>
                      <span class="nav-link-text">Empresa</span>
                    </a>
                  </li>

                {% endif %}

                {% if 'ROLE_ADMIN' in app.user.roles and 'ROLE_SUPER_ADMIN' not in app.user.roles %}

                  <li class="nav-item" >
                    <a class="nav-link" href="{{ path('dashboard') }}">
                      <i class="fa fa-fw fa-dashboard"></i>
                      <span class="nav-link-text">Dashboard</span>
                    </a>
                  </li>

                {% endif %}

                {% if 'ROLE_VENDEDOR' in app.user.roles  or 'ROLE_ALMACENERO' in app.user.roles or 'ROLE_ADMIN' in app.user.roles and 'ROLE_SUPER_ADMIN' not in app.user.roles %}

                  <li class="nav-item" >
                    <a class="nav-link" href="#" onclick="PopupCenter('{{ path('detalleventa_puntoventa') }}','xtf','1250','700');">
                      <i class="fa fa-fw fa-dashboard"></i>
                      <span class="nav-link-text">Punto de venta</span>
                    </a>
                  </li>

                {% endif %}


              {% if 'ROLE_VENDEDOR' in app.user.roles  or 'ROLE_ALMACENERO' in app.user.roles or 'ROLE_ADMIN' in app.user.roles and 'ROLE_SUPER_ADMIN' not in app.user.roles %}

                      {% if  'ROLE_ADMIN' in app.user.roles %}

                          <li class="nav-item dropdown" >

                            <a class="nav-link dropdown-toggle" href="#" id="ventas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-fw fa-table"></i>
                              <span class="nav-link-text">Ventas</span>
                            </a>


                            {% if  'ROLE_ADMIN' in app.user.roles %}

                              <div class="dropdown-menu" aria-labelledby="ventas">
                                <a class="dropdown-item " href="{{ path('detalleventa_lista') }}">Lista de ventas</a>
                                <a class="dropdown-item" href="{{ path('cliente_index') }}">Clientes</a>
                              </div>

                            {% endif %}


                          </li>

                     {% endif %}


                      {% if  'ROLE_ADMIN' in app.user.roles %}


                          <li class="nav-item dropdown" >

                            <a class="nav-link dropdown-toggle" href="#" id="compras" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-fw fa-table"></i>
                              <span class="nav-link-text">Compras</span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="compras">
                              <a class="dropdown-item " href="{{ path('detallecompra_index') }}">Registrar compra</a>
                              <a class="dropdown-item" href="{{ path('facturacompra_index') }}">Lista de compras</a>
                              <a class="dropdown-item" href="{{ path('proveedor_index') }}">Proveedores</a>
                            </div>

                          </li>


                      {% endif %}

                      
                      {% if  'ROLE_VENDEDOR' in app.user.roles or 'ROLE_ALMACENERO' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}


                          <li class="nav-item dropdown" >

                            <a class="nav-link dropdown-toggle" href="#" id="almacen" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-fw fa-table"></i>
                              <span class="nav-link-text">Almacen</span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="almacen">
                              <a class="dropdown-item " href="{{ path('almacen_productosxlocal') }}">Stock</a>
                              {% if  'ROLE_ALMACENERO' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
                                  <a class="dropdown-item " href="{{ path('almacen_lista_transferencia') }}">Lista de transferencias</a>                                
                              {% endif %}
                            </div>

                          </li>


                      {% endif %}

              {% endif %}


              {% if 'ROLE_ALMACENERO' in app.user.roles or 'ROLE_ADMIN' in app.user.roles and 'ROLE_SUPER_ADMIN' not in app.user.roles %}

                <li class="nav-item" >
                  <a class="nav-link" href="{{ path('productoxlocal_index') }}" >
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Productos</span>
                  </a>
                </li>


                {% if  'ROLE_ADMIN' in app.user.roles %}

                  <li class="nav-item" >
                    <a class="nav-link" href="{{ path('productounidad_index') }}">
                      <i class="fa fa-fw fa-dashboard"></i>
                      <span class="nav-link-text">Unidades</span>
                    </a>
                  </li>
                
                {% endif %}

              {% endif %}


              {% if 'ROLE_ADMIN' in app.user.roles and 'ROLE_SUPER_ADMIN' not in app.user.roles %}

                <li class="nav-item" >
                  <a class="nav-link" href="{{ path('gasto_index') }}">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Gastos</span>
                  </a>
                </li>

              {% endif %}


              {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}

                <li class="nav-item" >
                  <a class="nav-link" href="{{ path('administrador_index') }}">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Administrador</span>
                  </a>
                </li>

              {% endif %}


              {% if 'ROLE_ADMIN' in app.user.roles and 'ROLE_SUPER_ADMIN' not in app.user.roles %}


                <li class="nav-item dropdown" >

                  <a class="nav-link dropdown-toggle" href="#" id="reportes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Reportes</span>
                  </a>

                  <div class="dropdown-menu" aria-labelledby="reportes">
                    <a class="dropdown-item " href="{{ path('reporte_productosmasvendidos') }}">Productos más vendidos</a>
                    <a class="dropdown-item " href="{{ path('reporte_ventasdiarias') }}">Ventas diarias</a>
                    <a class="dropdown-item " href="{{ path('reporte_ventasanuladas') }}">Ventas anuladas</a>
                    <a class="dropdown-item " href="{{ path('reporte_ventascredito') }}">Ventas a crédito</a>
                    <a class="dropdown-item " href="{{ path('reporte_ventascontado') }}">Ventas al contado</a>
                    <a class="dropdown-item " href="{{ path('reporte_ventastarjetacredito') }}">Ventas con tarjeta crédito</a>
                    <a class="dropdown-item " href="{{ path('reporte_ventasnotacredito') }}">Ventas nota de crédito</a>
                    <a class="dropdown-item " href="{{ path('reporte_detalleventa') }}">Detalle de ventas</a>
                    <a class="dropdown-item " href="{{ path('reporte_modificacionstockproducto') }}">Stock modificado</a>
                    <a class="dropdown-item " href="{{ path('reporte_proveedor') }}">Proveedores</a>
                    <a class="dropdown-item " href="{{ path('reporte_cliente') }}">Clientes</a>
                  </div>

                </li>


                <li class="nav-item" >
                  <a class="nav-link" href="{{ path('servicio_index') }}">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Servicios</span>
                  </a>
                </li>




                <li class="nav-item dropdown" >

                  <a class="nav-link dropdown-toggle" href="#" id="usuarios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Administración</span>
                  </a>

                  <div class="dropdown-menu" aria-labelledby="usuarios">
                    <a class="dropdown-item " href="{{ path('empresalocal_index') }}">Locales</a>
                    <a class="dropdown-item " href="{{ path('empleado_index') }}">Empleado</a>

                  </div>

                </li>


                <li class="nav-item dropdown" >

                  <a class="nav-link dropdown-toggle" href="#" id="alertas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Alertas</span>
                  </a>

                  <div class="dropdown-menu" aria-labelledby="alertas">
                    <a class="dropdown-item " href="{{ path('alerta_transferencia') }}">Alerta transferencia tienda</a>
                    <a class="dropdown-item " href="{{ path('alerta_modificacionnombreproducto') }}">Alerta modificación nombre de Productos</a>
                    <a class="dropdown-item " href="{{ path('alerta_modificacionprecioproducto') }}">Alerta modificación precio productos</a>
                  </div>

                </li>


                <li class="nav-item dropdown" >

                  <a class="nav-link dropdown-toggle" href="#" id="finanzas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Finanzas</span>
                  </a>

                  <div class="dropdown-menu" aria-labelledby="finanzas">
                    <a class="dropdown-item " href="{{ path('finanzas_ventatrabajadordiaria') }}">Venta por trabajador diaria</a>
                    <a class="dropdown-item " href="{{ path('finanzas_ventatrabajadormensual') }}">Venta por trabajador mensual</a>
                    <a class="dropdown-item " href="{{ path('finanzas_ventalocaldiaria') }}">Venta por local diaria</a>
                    <a class="dropdown-item " href="{{ path('finanzas_ventalocalmensual') }}">Venta por local mensual</a>
                  </div>

                </li>


                <li class="nav-item dropdown" >

                  <a class="nav-link dropdown-toggle" href="#" id="sunat" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Sunat</span>
                  </a>

                  <div class="dropdown-menu" aria-labelledby="sunat">
                    <a class="dropdown-item " href="{{ path('sunat_formato131') }}">Formato 13.1</a>
                    <a class="dropdown-item " href="{{ path('sunat_formato121') }}">Formato 12.1</a>
                  </div>

                </li>


              {% endif %}            


              </ul>

            </div>

          </nav>



          <div class="content-wrapper" style="margin-left:0px !important;">
              <div class="container-fluid">

                  <div class="row">
                      <div class="col-lg-12">
                          <h1 class="page-header">{{titulo}}</h1>
                      </div>
                      <!-- /.col-lg-12 -->
                  </div>
                  <!-- /.row -->
                  
                  {% block body %}{% endblock %}

              </div>

              <footer class="sticky-footer">
                <div class="container">
                  <div class="text-center">
                    <small>Copyright © Intimedia 2018</small>
                  </div>
                </div>
              </footer>

              <!-- Scroll to Top Button-->
              <a class="scroll-to-top rounded" href="#page-top">
                <i class="fa fa-angle-up"></i>
              </a>
              <!-- Logout Modal-->
              <div class="modal fade" id="salirModal" tabindex="-1" role="dialog" aria-labelledby="salirModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">¿Está seguro de salir?</h5>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">Selecciona "Cerrar sesión" si estás seguro.</div>
                    <div class="modal-footer">
                      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                      <a class="btn btn-primary" href="{{ path('fos_user_security_logout')}}">Cerrar sesión</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>



        {% block javascripts %}
            <!-- jQuery -->
            <script src="{{asset('template/vendor/jquery/jquery.min.js')}}"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="{{asset('template/vendor/bootstrap/js/popper.min.js')}}"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="{{asset('template/vendor/bootstrap/js/bootstrap.min.js')}}"></script>

            <!-- Custom Theme JavaScript -->
            <script src="{{asset('template/js/sb-admin.min.js')}}"></script>

            <!-- Custom Theme Alerts -->
            <script src="{{asset('template/js/bootbox.min.js')}}"></script>

            <!-- Datatables -->
            <script src="{{asset('template/vendor/datatables/jquery.dataTables.js')}}"></script>
            <script src="{{asset('template/vendor/datatables/dataTables.bootstrap4.js')}}"></script>
            <script src="{{asset('template/js/sb-admin-datatables.js')}}"></script>

            <script src="{{asset('template/js/chosen.jquery.min.js') }}"></script>
            <!-- Datepicker -->   
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
            <script src="{{asset('template/js/bootstrap-datepicker.es.js')}}" charset="UTF-8"></script>

            
  
            <script type="text/javascript">

                    function PopupCenter(url, title, w, h) {
                        // Fixes dual-screen position                         Most browsers      Firefox
                        var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : window.screenX;
                        var dualScreenTop = window.screenTop != undefined ? window.screenTop : window.screenY;

                        var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
                        var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

                        var left = ((width / 2) - (w / 2)) + dualScreenLeft;
                        var top = ((height / 2) - (h / 2)) + dualScreenTop;
                        var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

                        // Puts focus on the newWindow
                        if (window.focus) {
                            newWindow.focus();
                        }
                    }

                    /***ACTIVANDO MENÚ DEL SISTEMA**/              
                    function stripTrailingSlash(str='') {

                      if(str.substr(-1) == '/') {
                        return str.substr(0, str.length - 1);
                      }

                      return str;
                    }

                    // var i = 0;
                    // function activarSubmenu(_li, submenu_clase) {

                    //   if (_li.hasClass(submenu_clase)){

                    //     var _link = _li.parent().siblings();

                    //     if (_link.hasClass('nav-link-collapse')) {
                    //       _link.trigger('click');
                    //       activarSubmenu(_link.parent(), submenu_clase);
                    //     }

                    //   }
                    //   return false;
                    // }

                    var url         = window.location.pathname;
                    var activePage  = stripTrailingSlash(url);
                    

                    // Obteniendo el ultimo caracter de la url
                    if(activePage.charAt(activePage.length - 1) == '/')
                    {
                      activePage = activePage.substring(0, activePage.length-1);

                    }

                    // $('.navbar-nav li a').on('click',function(){

                    //   var diplay = $( this ).next().css( "display" );

                    //   if(diplay == 'block'){

                    //     $(this).next().css( "display", "none" );
                    //     $(this).attr( "aria-expanded", "true" );
                    //     $(this).next().removeClass( "collapse");

                        
                    //   }else{

                    //     $(this).next().css( "display", "block" );
                    //     $(this).attr( "aria-expanded", "false" );
                    //     $(this).next().addClass( "collapse");

                    //   }

                    // });

                    $('.navbar li a').each(function(){
                      
                        var opcion         = $(this);
                        var opcion_li      = opcion.parent();
                        var currentPage    = stripTrailingSlash(opcion.attr('href'));

                        
                       
                        if(currentPage.charAt(currentPage.length - 1) == '/')
                        {
                            currentPage = currentPage.substring(0, currentPage.length-1);
                        }

                        

                        if (String(activePage+'/').indexOf(String(currentPage+'/')) != -1){
                            
                            opcion_clase = opcion_li.attr('class');
                            console.log(opcion_clase);
                          
                            // if ( /\o$/.test(opcion_clase) ) {
                                
                            //     activarSubmenu(opcion_li, opcion_clase);
                            // };

                            // opcion_li.parent().css('display','block');
                            opcion_li.addClass('active');
                            //opcion_li.addClass('active');
                            
                        }                
                    });
                    /***FIN ACTIVANDO MENÚ DEL SISTEMA**/


              (function() {
                'use strict';
                window.addEventListener('load', function() {
                  // Fetch all the forms we want to apply custom Bootstrap validation styles to
                  var forms = document.getElementsByClassName('needs-validation');
                  // Loop over them and prevent submission
                  var validation = Array.prototype.filter.call(forms, function(form) {

                    form.addEventListener('submit', function(event) {

                      if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                      }
                      form.classList.add('was-validated');
                    }, false);

                  });
                }, false);
              })();

              $(document).ready(function() {

                $(".chosen-select").chosen({width: "100%",no_results_text: "No se encontraron resultados!",allow_single_deselect: true});

                $('.datepicker').datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'es',
                    autoclose: true
                });

                $(function () {
                  $('[data-toggle="tooltip"]').tooltip()
                })

              });



            </script>

        {% endblock %}
    </body>
</html>
