<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SIMPLEX">
    <meta name="author" content="Intimedia S.A.C.">

        <title>{% block title %}{{ titulo }}{% endblock %}</title>
        {% block stylesheets %}

            <!-- Bootstrap Core CSS -->
            <link href="{{asset('template/vendor/bootstrap/css/bootstrap.css')}}" rel="stylesheet">

            <!-- Custom CSS -->
            <link href="{{asset('template/css/sb-admin.min.css')}}" rel="stylesheet">
            <link href="{{asset('template/css/ferretero.css')}}" rel="stylesheet">

            <!-- Custom Fonts -->
            <link href="{{asset('template/vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">

            <!-- Custom Datatables -->
            <link href="{{asset('template/vendor/datatables/dataTables.bootstrap4.css')}}" rel="stylesheet" type="text/css">
            <link href="{{asset('template/vendor/datatables/select.bootstrap4.min.css')}}" rel="stylesheet" type="text/css">
            
            <link rel="stylesheet" type="text/css" media="screen" href="{{asset('template/css/chosen.min.css') }}">

            <!-- Datepicker -->
            <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" >

            <style>
                .navbar-light .navbar-nav .nav-link {
                    color: rgb(64, 64, 64);
                }
                .btco-menu li > a {
                    padding: 10px 15px;
                    color: #000;

                }

                .btco-menu .active a:focus,
                .btco-menu li a:focus ,
                .navbar > .show > a:focus{
                    background: transparent;
                    outline: 0;
                }


                .dropdown-menu .show > .dropdown-toggle::after{
                    transform: rotate(-90deg);
                }
            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="fixed-nav sticky-footer bg-dark" id="page-top">

          <!-- Navigation-->
          <nav class="navbar navbar-expand-lg  navbar-dark bg-dark fixed-top" style="position: absolute !important;"  id="mainNav">

            {% set redireccion = 'dashboard' %}
            {% if 'ROLE_VENDEDOR' in app.user.roles or 'ROLE_ALMACENERO' in app.user.roles and 'ROLE_SUPER_ADMIN' not in app.user.roles %}
              {% set redireccion = 'almacen_productosxlocal' %}
            {% endif %}
            {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
              {% set redireccion = 'empresa_index' %}
            {% endif %}

            <a class="navbar-brand" href="{{ path(redireccion) }}">{{ obtenerNombreEmpresa(app.session.get('empresa')) | upper }}</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>


            <ul class="navbar-nav ml-auto d-none d-xl-block d-md-block d-lg-block">


              <li class="nav-item ml-5 d-none  d-xl-block d-md-block d-lg-block">
                <a class="nav-link  " >
                  <i class="fa fa-fw fa-home fa-lg "></i>Local : {{ ObtenerLocalSeleccionado(app.session.get('local'))  }} | 
                  <i class="fa fa-fw fa-shopping-cart fa-lg "></i>Caja : {{ ObtenerCajaSeleccionada(app.session.get('caja'))  }}
                </a>
              </li>

            </ul>

            <ul class="navbar-nav ml-auto ">

              <li class="nav-item d-none  d-xl-block d-md-block d-lg-block ">
                <a class="nav-link text-left  " >
                  <i class="fa fa-fw fa-clock-o"></i>{{ "now" | date('d/m/Y H:i') }}
                </a>
              </li>

              <li class="nav-item d-none  d-xl-block d-md-block d-lg-block">
                <a class="nav-link text-left" >
                  <i class="fa fa-fw fa-user"></i>{{ app.session.get('rol') ~ ' (' ~ app.user.username ~ ')'}}
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#salirModal">
                  <i class="fa fa-fw fa-sign-out"></i>Salir
                </a>
              </li>
            </ul>

          </nav>

          {% if 'ROLE_VENDEDOR_RESTRINGIDO' in app.user.roles %}

            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg  navbar-dark bg-dark " style=""  id="">

              <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav mr-auto">

                    <li class="nav-item" >
                      <a class="nav-link" href="{{ path('facturaventa_index') }}">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Lista de Ventas (Editable)</span>
                      </a>
                    </li>

                    <li class="nav-item" >
                      <a class="nav-link" href="{{ path('detalleventa_lista') }}">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Lista de Ventas</span>
                      </a>
                    </li>

                    <li class="nav-item" >
                      <a class="nav-link" href="{{ path('cliente_index') }}">
                        <i class="fa fa-fw fa-home"></i>
                        <span class="nav-link-text">Clientes</span>
                      </a>
                    </li>

                    <li class="nav-item" >
                      <a class="nav-link" href="{{ path('productoxlocal_index') }}">
                        <i class="fa fa-fw fa-home"></i>
                        <span class="nav-link-text">Productos</span>
                      </a>
                    </li>

                    <li class="nav-item" >
                      <a class="nav-link" href="{{ path('notacredito_index') }}">
                        <i class="fa fa-fw fa-home"></i>
                        <span class="nav-link-text">Nota de crédito</span>
                      </a>
                    </li>

                    <li class="nav-item" >
                      <a class="nav-link" href="{{ path('notadebito_index') }}">
                        <i class="fa fa-fw fa-home"></i>
                        <span class="nav-link-text">Nota de débito</span>
                      </a>
                    </li>

                    <li class="nav-item" >
                      <a class="nav-link" href="{{ path('reporte_registro_ventas') }}">
                        <i class="fa fa-fw fa-home"></i>
                        <span class="nav-link-text">Registro de ventas</span>
                      </a>
                    </li>

                    <li class="nav-item" >
                      <a class="nav-link" href="{{ path('tipocambio_index') }}">
                        <i class="fa fa-fw fa-home"></i>
                        <span class="nav-link-text">Tipo de cambio</span>
                      </a>
                    </li>

                    <li class="nav-item" >
                      <a class="nav-link" href="{{ path('cuentabanco_index') }}">
                        <i class="fa fa-fw fa-home"></i>
                        <span class="nav-link-text">Cuentas bancarias</span>
                      </a>
                    </li>


                </ul>
              </div>
            </nav>


          {% else %}


            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg  navbar-dark bg-dark " style=""  id="">

              <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav mr-auto">

                  {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}

                    <li class="nav-item" >
                      <a class="nav-link" href="{{ path('empresa_index') }}">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Empresa</span>
                      </a>
                    </li>

                    <li class="nav-item" >
                      <a class="nav-link" href="{{ path('empresalocal_index') }}">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Locales</span>
                      </a>
                    </li>

                    <li class="nav-item" >
                      <a class="nav-link" href="{{ path('detalleventa_lista_factura_noenviada') }}">
                        <i class="fa fa-fw fa-home"></i>
                        <span class="nav-link-text">Documentos no enviados</span>
                      </a>
                    </li>
                  
                  {% endif %}

                  {% if 'ROLE_ADMIN' in app.user.roles and 'ROLE_SUPER_ADMIN' not in app.user.roles %}

                    <li class="nav-item" >
                      <a class="nav-link" href="{{ path('dashboard') }}">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Panel</span>
                      </a>
                    </li>

                  {% endif %}

                  {% if 'ROLE_VENDEDOR' in app.user.roles  or 'ROLE_ALMACENERO' in app.user.roles or 'ROLE_ADMIN' not in app.user.roles and 'ROLE_SUPER_ADMIN' not in app.user.roles %}


                      <li class="nav-item" >
                        <a class="nav-link" href="#" onclick="PopupCenter('{{ path('detalleventa_puntoventa') }}','xtf','1250','700');">
                          <i class="fa fa-fw fa-dashboard"></i>
                          <span class="nav-link-text">Punto de venta</span>
                        </a>
                      </li>        


                  {% endif %}


                  {% if 'ROLE_ADMIN' in app.user.roles  and 'ROLE_SUPER_ADMIN' not in app.user.roles %}


                    <li class="nav-item" >
                      
                      {% if app.session.get('caja') %}

                          {% if app.session.get('caja_apertura') %}

                            <li class="nav-item" >
                              <a class="nav-link" href="#" onclick="PopupCenter('{{ path('detalleventa_puntoventa') }}','xtf','1250','700');">
                                <i class="fa fa-fw fa-dashboard"></i>
                                <span class="nav-link-text">Punto de venta</span>
                              </a>
                            </li>

                          {% else %}

                            {% if verificaEstadoCaja(app.session.get('caja')) %}

                              <li class="nav-item" >
                                <a class="nav-link" href="#" onclick="PopupCenter('{{ path('detalleventa_puntoventa') }}','xtf','1250','700');">
                                  <i class="fa fa-fw fa-dashboard"></i>
                                  <span class="nav-link-text">Punto de venta</span>
                                </a>
                              </li>                      

                            {% else %}

                              <a class="nav-link" href="#"  onclick="PopupCenter('{{ path('aperturar_caja') }}','xtf','1250','700');">
                                <i class="fa fa-fw fa-dashboard"></i>
                                <span class="nav-link-text">Punto de venta</span>
                              </a>

                            {% endif %}


                          {% endif %}


                      {% else %}

                        <a class="nav-link" href="#"  onclick="PopupCenter('{{ path('seleccionar_local') }}','xtf','1250','700');">
                          <i class="fa fa-fw fa-dashboard"></i>
                          <span class="nav-link-text">Punto de venta</span>
                        </a>

                      {% endif %}


                    </li>





                  {% endif %}


                  {% if 'ROLE_VENDEDOR' in app.user.roles  or 'ROLE_ALMACENERO' in app.user.roles or 'ROLE_ADMIN' in app.user.roles and 'ROLE_SUPER_ADMIN' not in app.user.roles %}

                        {% if  'ROLE_ADMIN' in app.user.roles or 'ROLE_ALMACENERO' in app.user.roles %}

                            <li class="nav-item dropdown" >

                              <a class="nav-link dropdown-toggle" href="#" id="ventas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-fw fa-table"></i>
                                <span class="nav-link-text">Ventas</span>
                              </a>


                              {% if  'ROLE_ADMIN' in app.user.roles  or 'ROLE_ALMACENERO' in app.user.roles %}

                                <div class="dropdown-menu" aria-labelledby="ventas">
                                  
                                  <a class="dropdown-item" href="{{ path('cliente_index') }}">Clientes</a>
                                  <a class="dropdown-item " href="{{ path('detalleventa_lista') }}">Lista de ventas</a>
                                  <a class="dropdown-item" href="{{ path('proforma_index') }}">Proformas</a>
                                  <a class="dropdown-item " href="{{ path('facturaventa_index') }}">Lista de ventas (Editable)</a>

                                  {% if mostrarGuiaRemision(app.session.get('local')) %}
                                    <a class="dropdown-item " href="{{ path('pedidoventa_index') }}">Pedido de venta</a>
                                  {% endif %}

                                  <a class="dropdown-item " href="{{ path('notacredito_index') }}">Nota de crédito</a>
                                  <a class="dropdown-item " href="{{ path('notadebito_index') }}">Nota de débito</a>

                                </div>

                              {% endif %}


                            </li>

                       {% endif %}


                        {% if  'ROLE_ADMIN' in app.user.roles %}


                            <li class="nav-item dropdown" >

                              <a class="nav-link dropdown-toggle" href="#" id="compras" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-fw fa-table"></i>
                                <span class="nav-link-text">Compras</span>
                              </a>

                              <div class="dropdown-menu" aria-labelledby="compras">
                                                                                                                                                      
                                <a class="dropdown-item" href="{{ path('proveedor_index') }}">Proveedores</a>
                                <a class="dropdown-item" href="{{ path('facturacompra_index') }}">Lista de compras</a>
                                <a class="dropdown-item " href="{{ path('detallecompra_index') }}">Registrar compra</a>
                                <a class="dropdown-item" href="{{ path('facturacompra_lista') }}">Anular compras</a>
                                <a class="dropdown-item" href="{{ path('gasto_index') }}">Gastos</a>
                                
                              </div>

                            </li>


                        {% endif %}

                        
                        {% if  'ROLE_VENDEDOR' in app.user.roles or 'ROLE_ALMACENERO' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}


                            <li class="nav-item dropdown" >

                              <a class="nav-link dropdown-toggle" href="#" id="almacen" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-fw fa-table"></i>
                                <span class="nav-link-text">Almacen</span>
                              </a>

                              <div class="dropdown-menu" aria-labelledby="almacen">

                                
                                  {% if  'ROLE_ADMIN' in app.user.roles %}

                                    {% if mostrarGuiaRemision(app.session.get('local')) %}
                                      <a class="dropdown-item " href="{{ path('guiaremision_index') }}">Guia de remisión</a>

                                    {% endif %}
                                    
                                  {% endif %}


                                {% if  'ROLE_ALMACENERO' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
                                    <a class="dropdown-item " href="{{ path('almacen_lista_transferencia') }}">Lista de transferencias</a>
                                    <a class="dropdown-item " href="{{ path('reporte_movimiento_productos') }}">Movimiento de productos</a>
                                {% endif %}


                                {% if 'ROLE_ALMACENERO' in app.user.roles or 'ROLE_ADMIN' in app.user.roles and 'ROLE_SUPER_ADMIN' not in app.user.roles %}

                                  <a class="dropdown-item " href="{{ path('productoxlocal_index') }}">Productos</a>

                                  {% if  'ROLE_ADMIN' in app.user.roles %}

                                    
                                    <a class="dropdown-item " href="{{ path('productocategoria_index') }}">Categorías</a>
                                    <a class="dropdown-item " href="{{ path('productomarca_index') }}">Marcas</a>
                                    <a class="dropdown-item " href="{{ path('productounidad_index') }}">Unidades</a>


                                  {% endif %}

                                {% endif %}        


                              </div>

                            </li>

                    


                        {% endif %}

                  {% endif %}




                {% if 'ROLE_SUPER_ADMIN' not in app.user.roles and 'ROLE_ADMIN' in app.user.roles or 'ROLE_VENDEDOR' in app.user.roles %}


                {% endif %}

                {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}

                  <li class="nav-item" >
                    <a class="nav-link" href="{{ path('administrador_index') }}">
                      <i class="fa fa-fw fa-dashboard"></i>
                      <span class="nav-link-text">Administrador</span>
                    </a>
                  </li>

                {% endif %}



                {% if 'ROLE_ADMIN' in app.user.roles and 'ROLE_SUPER_ADMIN' not in app.user.roles %}


                  <li class="nav-item dropdown" >

                    <a class="nav-link dropdown-toggle" href="#" id="reportes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-fw fa-table"></i>
                      <span class="nav-link-text">Reportes</span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="reportes">


                      <a class="dropdown-item " href="{{ path('reporte_caja') }}">Caja</a>
                      <a class="dropdown-item " href="{{ path('reporte_productosmasvendidos') }}">Productos más vendidos</a>
                      <a class="dropdown-item " href="{{ path('reporte_ventasanuladas') }}">Ventas anuladas</a>
                      <a class="dropdown-item " href="{{ path('reporte_comprasanulada') }}">Compras anuladas</a>
                      <a class="dropdown-item " href="{{ path('almacen_productosxlocal') }}">Stock</a>


                      <a class="dropdown-item dropdown-toggle" href="#" id="almacen2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="nav-link-text">Almacen</span>
                      </a>
                                       
                      <div class="dropdown-menu" aria-labelledby="almacen2">

                        <a class="dropdown-item " href="{{ path('reporte_modificacionstockproducto') }}">Stock modificado</a>
                        <a class="dropdown-item " href="{{ path('reporte_productosvalorizados_stock') }}">Stock valorizado</a>
                        <a class="dropdown-item " href="{{ path('sunat_formato121') }}">Kardex por unidades</a> 
                        <a class="dropdown-item " href="{{ path('sunat_formato131') }}">Kardex valorado</a>
                                             
                      </div>

                      <a class="dropdown-item dropdown-toggle" href="#" id="ventas2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="nav-link-text">Ventas</span>
                      </a>
                                       
                      <div class="dropdown-menu" aria-labelledby="ventas2">

                        <a class="dropdown-item " href="{{ path('reporte_ventascredito') }}">Ventas a crédito</a>
                        <a class="dropdown-item " href="{{ path('reporte_ventascontado') }}">Ventas al contado</a>                      
                        <a class="dropdown-item " href="{{ path('reporte_ventastarjetacredito') }}">Ventas con tarjeta crédito</a>
                        <a class="dropdown-item " href="{{ path('reporte_ventasdiarias') }}">Ventas diarias</a>
                        <a class="dropdown-item " href="{{ path('reporte_detalleventa') }}">Ventas - detalle</a>

                        {#<a class="dropdown-item " href="{{ path('reporte_venta_detalle_producto') }}">Inteligencia de negocios</a>                    #}
                        <a class="dropdown-item " href="{{ path('reporte_ganancias') }}">Ganancias</a>

                      </div>



                                                                                           
                    </div>

                  </li>


                  <li class="nav-item dropdown" >

                    <a class="nav-link dropdown-toggle" href="#" id="usuarios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-fw fa-table"></i>
                      <span class="nav-link-text">Administración</span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="usuarios">

                      {% if funcionCajaYBanco(app.session.get('local')) == false %}

                        <a class="dropdown-item " href="{{ path('caja_index') }}">Cajas</a>
                        <a class="dropdown-item " href="{{ path('cuentabanco_index') }}">Cuentas bancarias</a>

                      {% endif %}
                      <a class="dropdown-item " href="{{ path('configuracion_edit') }}">Configuración</a>
                      <a class="dropdown-item " href="{{ path('tipocambio_index') }}">Tipo de cambio</a>
                      <a class="dropdown-item " href="{{ path('empleado_index') }}">Usuarios</a>
                      
                      
                    </div>

                  </li>




                  {% if funcionCajaYBanco(app.session.get('local')) %}

                    <li class="nav-item dropdown" >

                      <a class="nav-link dropdown-toggle" href="#" id="cajaybanco" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">Caja y Banco</span>
                      </a>

                      <div class="dropdown-menu" aria-labelledby="cajaybanco">
                        
                        <a class="dropdown-item " href="{{ path('caja_index') }}">Cajas</a>
                        <a class="dropdown-item " href="{{ path('cuentabanco_index') }}">Cuentas bancarias</a>
                        <a class="dropdown-item " href="{{ path('cajaybanco_index') }}">Reporte</a>
                        <a class="dropdown-item " href="{{ path('cajaybanco_transferencias') }}">Transferencias</a>
                        
                      </div>

                    </li>

                  {% endif %}


                {% endif %}            

                {% if 'ROLE_VENDEDOR' in app.user.roles  %}


                  <li class="nav-item" >
                    <a class="nav-link" href="{{ path('detalleventa_lista') }}">
                      <i class="fa fa-fw fa-list"></i>
                      <span class="nav-link-text">Lista de ventas</span>
                    </a>
                  </li>

                  <li class="nav-item" >
                    <a class="nav-link" href="{{ path('proforma_index') }}">
                      <i class="fa fa-fw fa-list"></i>
                      <span class="nav-link-text">Proformas</span>
                    </a>
                  </li>


                {% endif %}


                {% if 'ROLE_VENDEDOR' in app.user.roles  %}


                  <li class="nav-item dropdown" >

                    <a class="nav-link dropdown-toggle" href="#" id="reportes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-fw fa-table"></i>
                      <span class="nav-link-text">Reportes</span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="reportes">

                      <a class="dropdown-item " href="{{ path('reporte_ventascredito') }}">Ventas a crédito</a>
                      <a class="dropdown-item " href="{{ path('reporte_ventascontado') }}">Ventas al contado</a>
                      <a class="dropdown-item " href="{{ path('reporte_ventasanuladas') }}">Ventas anuladas</a>
                      <a class="dropdown-item " href="{{ path('reporte_ventastarjetacredito') }}">Ventas con tarjeta crédito</a>
                      <a class="dropdown-item " href="{{ path('reporte_ventasdiarias') }}">Ventas diarias</a>
                      <a class="dropdown-item " href="{{ path('reporte_detalleventa') }}">Ventas - detalle</a>                    
                                                                          
                     
                    </div>

                  </li>


                {% endif %}

                </ul>

              </div>

            </nav>

          {% endif %}



          <div class="content-wrapper" style="margin-left:0px !important;">
              <div class="container-fluid">

                  <div class="row">
                      <div class="col-lg-12">
                          <h1 class="page-header">{{titulo}}</h1>
                      </div>
                      <!-- /.col-lg-12 -->
                  </div>
                  <!-- /.row -->
                  
                  {% block body %}{% endblock %}

              </div>

              <footer class="sticky-footer" style="width: calc(100% - 0px) !important;">
                <div class="container">
                  <div class="text-center">
                    <small>Copyright © Intimedia 2018</small>
                  </div>
                </div>
              </footer>

              <!-- Scroll to Top Button-->
              <a class="scroll-to-top rounded" href="#page-top">
                <i class="fa fa-angle-up"></i>
              </a>


              <!-- Logout Modal-->
              <div class="modal fade" id="salirModal" tabindex="-1" role="dialog" aria-labelledby="salirModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">¿Está seguro de salir?</h5>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">Selecciona "Cerrar sesión" si estás seguro.</div>
                    <div class="modal-footer">
                      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                      <a class="btn btn-primary" href="{{ path('fos_user_security_logout')}}">Cerrar sesión</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>



        {% block javascripts %}
            <!-- jQuery -->
            <script src="{{asset('template/vendor/jquery/jquery.min.js')}}"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="{{asset('template/vendor/bootstrap/js/popper.min.js')}}"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="{{asset('template/vendor/bootstrap/js/bootstrap.min.js')}}"></script>

            <!-- Custom Theme JavaScript -->
            <script src="{{asset('template/js/sb-admin.min.js')}}"></script>

            <!-- Custom Theme Alerts -->
            <script src="{{asset('template/js/bootbox.min.js')}}"></script>

            <!-- Datatables -->
            <script src="{{asset('template/vendor/datatables/jquery.dataTables.js')}}"></script>
            <script src="{{asset('template/vendor/datatables/dataTables.bootstrap4.js')}}"></script>
            <script src="{{asset('template/js/sb-admin-datatables.js')}}"></script>

            <script src="{{asset('template/js/chosen.jquery.min.js') }}"></script>
            <!-- Datepicker -->   
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
            <script src="{{asset('template/js/bootstrap-datepicker.es.js')}}" charset="UTF-8"></script>

            <!-- Jquery mask-->
            <script src="{{asset('template/js/jquery.mask.min.js')}}" ></script>

            
  
            <script type="text/javascript">

                    $( document ).ready( function () {
                        $( '.dropdown-menu a.dropdown-toggle' ).on( 'click', function ( e ) {
                            var $el = $( this );
                            var $parent = $( this ).offsetParent( ".dropdown-menu" );
                            if ( !$( this ).next().hasClass( 'show' ) ) {
                                $( this ).parents( '.dropdown-menu' ).first().find( '.show' ).removeClass( "show" );
                            }
                            var $subMenu = $( this ).next( ".dropdown-menu" );
                            $subMenu.toggleClass( 'show' );
                            
                            $( this ).parent( "li" ).toggleClass( 'show' );

                            $( this ).parents( 'li.nav-item.dropdown.show' ).on( 'hidden.bs.dropdown', function ( e ) {
                                $( '.dropdown-menu .show' ).removeClass( "show" );
                            } );
                            
                             if ( !$parent.parent().hasClass( 'navbar-nav' ) ) {
                                $el.next().css( { "top": $el[0].offsetTop, "left": $parent.outerWidth() - 4 } );
                            }

                            return false;
                        } );
                    } );

                    function PopupCenter(url, title, w, h) {
                        // Fixes dual-screen position                         Most browsers      Firefox
                        var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : window.screenX;
                        var dualScreenTop = window.screenTop != undefined ? window.screenTop : window.screenY;

                        var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
                        var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

                        var left = ((width / 2) - (w / 2)) + dualScreenLeft;
                        var top = ((height / 2) - (h / 2)) + dualScreenTop;
                        var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

                        // Puts focus on the newWindow
                        if (window.focus) {
                            newWindow.focus();
                        }
                    }

                    /***ACTIVANDO MENÚ DEL SISTEMA**/              
                    function stripTrailingSlash(str='') {

                      if(str.substr(-1) == '/') {
                        return str.substr(0, str.length - 1);
                      }

                      return str;
                    }


                    var url         = window.location.pathname;
                    var activePage  = stripTrailingSlash(url);
                    

                    // Obteniendo el ultimo caracter de la url
                    if(activePage.charAt(activePage.length - 1) == '/')
                    {
                      activePage = activePage.substring(0, activePage.length-1);

                    }

                    $('body').on('keydown','.solonumeros',function (event) {


                        if (event.shiftKey == true) {
                          event.preventDefault();
                        }

                        if ((event.keyCode >= 48 && event.keyCode <= 57) || 
                          (event.keyCode >= 96 && event.keyCode <= 105) || 
                          event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
                          event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

                        } else {
                          event.preventDefault();
                        }

                        if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
                          event.preventDefault(); 

                    });

                    $('.navbar li a').each(function(){
                      
                        var opcion         = $(this);
                        var opcion_li      = opcion.parent();
                        var currentPage    = stripTrailingSlash(opcion.attr('href'));

                        
                       
                        if(currentPage.charAt(currentPage.length - 1) == '/')
                        {
                            currentPage = currentPage.substring(0, currentPage.length-1);
                        }

                        

                        if (String(activePage+'/').indexOf(String(currentPage+'/')) != -1){
                            
                            opcion_clase = opcion_li.attr('class');
                            console.log(opcion_clase);
                          
                            // if ( /\o$/.test(opcion_clase) ) {
                                
                            //     activarSubmenu(opcion_li, opcion_clase);
                            // };

                            // opcion_li.parent().css('display','block');
                            opcion_li.addClass('active');
                            //opcion_li.addClass('active');
                            
                        }                
                    });
                    /***FIN ACTIVANDO MENÚ DEL SISTEMA**/


              (function() {
                'use strict';
                window.addEventListener('load', function() {
                  // Fetch all the forms we want to apply custom Bootstrap validation styles to
                  var forms = document.getElementsByClassName('needs-validation');
                  // Loop over them and prevent submission
                  var validation = Array.prototype.filter.call(forms, function(form) {

                    form.addEventListener('submit', function(event) {

                      if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                      }
                      form.classList.add('was-validated');
                    }, false);

                  });
                }, false);
              })();

              $(document).ready(function() {

                $(".chosen-select").chosen({width: "100%",no_results_text: "No se encontraron resultados!",allow_single_deselect: true});

                $('.datepicker').datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'es',
                    autoclose: true
                });

                $(function () {
                  $('[data-toggle="tooltip"]').tooltip()
                })

              });



            </script>

        {% endblock %}
    </body>
</html>
