{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }} 

    <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet">

{% endblock %}
{% block body %}

    <div class="container">

        <div class="card mx-auto mt-5">
            <div class="card-body">

                <div class="row pr-3">
                    <div class="col-lg-12 ">
                        <a href="{{ path('facturacompra_index') }}" class="btn btn-primary pull-left">Regresar</a>
                    </div>
                </div>
                <div class="row mt-2 ">
                    <div class="col-lg-12">
                        <table id="dtTable" class="table ">
                            <thead>
                                <tr>
                                    <th>Ítem</th>
                                    <th>Cod. Producto</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Importe</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% set item = 1 %}
                            {% for detalleCompra in detalleCompras %}
                                <tr>
                                    <td>{{ item }}</td>
                                    <td>{{ detalleCompra.productoXLocal.producto.codigo }}</td>
                                    <td>{{ detalleCompra.productoXLocal.producto.nombre }}</td>
                                    <td>{{ detalleCompra.cantidad | number_format(2,'.',',')}}</td>
                                    <td>{{ detalleCompra.subtotal | number_format(2,'.',',')}}</td>                      

                                </tr>
                                {% set item = item + 1 %}
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

                
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    {{ parent() }} 
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

    <script type="text/javascript">
    
        $(document).ready(function() {
            $('#dtTable').DataTable( {
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No existen registros",
                    "infoFiltered": "(filtrado de _MAX_ total registros)",
                    "search": "Buscar:",
                    "paginate": {
                        "first":      "Primero",
                        "last":       "Último",
                        "next":       "Siguiente",
                        "previous":   "Anterior"
                    },
                },                
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        messageTop: 'Generado por : {{ app.user.username }} . Fecha de generación :  {{ "now" | date("d/m/Y H:i") }}'
                    },
                    {
                        extend: 'pdfHtml5',
                        messageTop: 'Generado por : {{ app.user.username }} . Fecha de generación :  {{ "now" | date("d/m/Y H:i") }}'
                    },
                    {
                        extend: 'print',
                        messageTop: 'Generado por : {{ app.user.username }} . Fecha de generación :  {{ "now" | date("d/m/Y H:i") }}'
                    }
                ]  
            });
        });

    </script>
          
{% endblock %}