{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent()}}

    <style type="text/css">

    </style>
{% endblock %}
{% block body %}

    <div class="container">

        <form id="form" action="{{ path('gasto_egreso_edit', {'id': gasto.id}) }}" class="form-horizontal needs-validation" role="form" method="post"  novalidate>
                <div class="card mx-auto mt-5">
                    <div class="card-header">Información general</div>
                    <div class="card-body">                

                        <div class="form-row">
                            <div class="form-group col-md-3">
                                {{ form_row(edit_form.beneficiario) }}
                                <div class="invalid-feedback">
                                    Este valor es requerido.
                                </div>                      
                            </div>
                            <div class="form-group col-md-3">
                                {{ form_row(edit_form.concepto) }}
                                <div class="invalid-feedback">
                                    Este valor es requerido.
                                </div>   
                            </div>
                         
                            <div class="form-group col-md-2">
                                {{ form_row(edit_form.monto) }}
                                <div class="invalid-feedback">
                                    Este valor es requerido.
                                </div>                   
                            </div>

                            <div class="form-group col-md-2">
                                {{ form_row(edit_form.fecha) }}
                                <div class="invalid-feedback">
                                    Este valor es requerido.
                                </div>                   
                            </div>

                            <div class="form-group col-md-2">
                                {{ form_row(edit_form.local) }}
                                <div class="invalid-feedback">
                                    Este valor es requerido.
                                </div>                   
                            </div>

                        </div>

                                                
                    </div>
                </div>
                {{ form_row(edit_form.empresa) }}
                {{ form_row(edit_form.estado) }}

                {{ form_widget(edit_form._token) }}

                <div class="mt-4">
                    <p class="pull-right">
                        <input type="button" value="Cancelar" class="btn btn-small"  onclick="location.href='{{ path('gasto_index')}}'" />            
                        <input type="submit" class="btn btn-small btn-primary" value="Guardar" />
                    </p>
                </div>

        </form>

    </div>



{% endblock %}

{% block javascripts %}

    {{ parent() }}  

    <script type="text/javascript">

        $(document).ready(function() {

            var condicion  = $('#appbundle_gasto_condicion');
            
            $(".gasto").datepicker({
                format: 'dd/mm/yyyy',
                language: 'es',
                autoclose: true                
            });

            $('.gasto').on('change',function(){

                condicion.val(1);

            });
        });
    

    </script>

{% endblock %}  