{% extends 'base.html.twig' %}

{% block body %}
    <h1>Componentexdocumento</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ componenteXDocumento.id }}</td>
            </tr>
            <tr>
                <th>Posicionx</th>
                <td>{{ componenteXDocumento.posicionX }}</td>
            </tr>
            <tr>
                <th>Posiciony</th>
                <td>{{ componenteXDocumento.posicionY }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if componenteXDocumento.estado %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('componentexdocumento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('componentexdocumento_edit', { 'id': componenteXDocumento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
