{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet">
{% endblock %}



{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}



    <div class="row pr-3">
        <div class="col-lg-12 ">
            <a href="{{ path('producto_new') }}" class="btn btn-primary pull-right">Crear producto</a>
        </div>
    </div>
    <div class="row mt-2 ">
        <div class="col-lg-12">
            <table id="dtProducto" class="table ">
                <thead>
                    <tr>
                        <th>Ítem</th>
                        <th>Producto</th>
                        <th>Codigo</th>
                        <th>Precio unitario</th>
                        <th>Precio cantidad</th>
                        <th>Precio compra</th>
                        <th>Stock</th>
                        <th class="no-sort">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% set item = 1 %}
                {% for producto in productos %}
                    <tr>
                        <td>{{ item }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.codigo }}</td>
                        <td>{{ producto.precioUnitario }}</td>
                        <td>{{ producto.precioCantidad }}</td>
                        <td>{{ producto.precioCompra }}</td>
                        {% set stock = obtenerStock(producto.id) %}
                        <td>{{ stock }}</td>

                        <td class="text-center">

                            <a href="javascript:eliminar({{producto.id}})" class="mr-2" data-toggle="tooltip" data-target="" title="Eliminar">
                                <i class="fa fa-remove fa-lg"></i>
                            </a>

                            <a href="{{ path('producto_edit', { 'id': producto.id }) }}">
                                <i class="fa fa-edit fa-lg" data-toggle="tooltip" title="Editar"></i>                                    
                            </a>

                        </td>

                    </tr>
                    {% set item = item + 1 %}
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
{% block javascripts %}

    {{ parent() }} 
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>


    <script type="text/javascript">

        function eliminar(id) {
            bootbox.confirm({
                buttons: {
                    confirm: {
                        label: 'Aceptar',
                    },
                    cancel: {
                        label: 'Cancelar',
                    }
                },                
                size: 'small',
                message: "¿Está seguro de eliminar el registro?", 
                callback: function(res){ 
                    if(res){
                        location = id+'/delete';
                    }
                }
            });
        } 

        $(document).ready(function() {
            $('#dtProducto').DataTable( {
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No existen registros",
                    "infoFiltered": "(filtrado de _MAX_ total registros)",
                    "search": "Buscar:",
                    "paginate": {
                        "first":      "Primero",
                        "last":       "Último",
                        "next":       "Siguiente",
                        "previous":   "Anterior"
                    },
                },                
                dom: 'Bfrtp',
                buttons: [
                    //'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    //'pdfHtml5'
                ]
            } );
        } );

    </script>
          
{% endblock %}