{% extends 'base.html.twig' %}

{% block body %}


    <form id="form" action="{{ path('producto_new') }}" class="form-horizontal needs-validation" role="form" method="post"  enctype="multipart/form-data" novalidate>


        <div class="form-row">
            <div class="form-group col-md-3">
                {{ form_row(form.codigo) }}

                <div class="invalid-feedback">
                    Este valor es requerido.
                </div>

            </div>
        </div>

        <div class="form-row">
            
            <div class="form-group col-md-6">
                {{ form_row(form.categoria) }}
            </div>
            <div class="form-group col-md-6">
                {{ form_row(form.codigoBarra) }}
            </div>            
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_row(form.marca) }}
            </div>
            <div class="form-group col-md-6">
                {{ form_row(form.stock) }}

                <div class="invalid-feedback">
                    Debe ingresar un valor válido.
                </div>
            </div>            
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_row(form.nombre) }}

                <div class="invalid-feedback">
                    Este valor es requerido.
                </div>

            </div>
            <div class="form-group col-md-6">
                {{ form_row(form.descripcion) }}
            </div>            
        </div>

        <div class="form-row">
            <div class="form-group col-md-2">
                {{ form_row(form.precioUnitario) }}
            </div>
            <div class="form-group col-md-2">
                {{ form_row(form.precioCantidad) }}
            </div>
            <div class="form-group col-md-2">
                {{ form_row(form.precioCompra) }}
            </div>
        </div>



        <div class="form-row">
            <div class="form-group col-md-3">
                {{ form_row(form.imagen) }}
            </div>
        </div>

        {{ form_widget(form._token) }}

        <p class="pull-right">
            <input type="button" value="Cancelar" class="btn btn-small"  onclick="location.href='{{ path('producto_index')}}'" />            
            <input type="submit" class="btn btn-small btn-primary" value="Guardar" />
        </p>
        

    </form>


{% endblock %}

{% block javascripts %}

    {{ parent() }} 

    <script type="text/javascript">

        (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {

            form.addEventListener('submit', function(event) {

              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);

          });
        }, false);
        })();

    </script>

{% endblock %}