<!DOCTYPE html>
<html lang="es">

    <meta charset="utf-8">
    <head>
        <title>Código</title>
        <style type="text/css">
     
            table {
                display: table;
                border-collapse: separate;
                border-spacing: 2px;
                border-color: grey;                
            }

            .col-12 {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 33.333333%;
                flex: 0 0 33.333333%;
                max-width: 100%;
            }

            .table {
                width: 100%;
                max-width: 100%;
                margin-bottom: 1rem;
                background-color: transparent;
            }

          
        </style>
    </head>

    <body>

        <div class="col-12 ">
            <table class="table">

                <tr>
                    <td>{{ svg  | raw }}</td>
                    <td>{{ svg  | raw }}</td>
                </tr>

                <tr>
                    <td>{{ svg  | raw }}</td>
                    <td>{{ svg  | raw }}</td>
                </tr>

                <tr>
                    <td>{{ svg  | raw }}</td>
                    <td>{{ svg  | raw }}</td>
                </tr>
                <tr>
                    <td>{{ svg  | raw }}</td>
                    <td>{{ svg  | raw }}</td>
                </tr>

                <tr>
                    <td>{{ svg  | raw }}</td>
                    <td>{{ svg  | raw }}</td>
                </tr>

                <tr>
                    <td>{{ svg  | raw }}</td>
                    <td>{{ svg  | raw }}</td>
                </tr>

                <tr>
                    <td>{{ svg  | raw }}</td>
                    <td>{{ svg  | raw }}</td>
                </tr>

                <tr>
                    <td>{{ svg  | raw }}</td>
                    <td>{{ svg  | raw }}</td>
                </tr>

                <tr>
                    <td>{{ svg  | raw }}</td>
                    <td>{{ svg  | raw }}</td>
                </tr>

                <tr>
                    <td>{{ svg  | raw }}</td>
                    <td>{{ svg  | raw }}</td>
                </tr>

                                                
            </table>


        </div>    



    </body>
</html>
