{% extends 'base.html.twig' %}

{% block body %}
    <h1>Productoxlocal</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ productoXLocal.id }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ productoXLocal.stock }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('productoxlocal_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('productoxlocal_edit', { 'id': productoXLocal.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
