{% extends 'base.html.twig' %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="container">

        <div class="row pr-3">
            <div class="col-lg-12 ">
                <a href="{{ path('detalleventa_lista') }}" class="btn btn-primary pull-left">Regresar</a>
            </div>
        </div>

        <div class="card mx-auto mt-5">
            <div class="card-header">
                Seleccione los productos que va a entregar.
            </div>

            <form id="form" target="blank" onsubmit="window.open('about:blank','blank','width=595, height=842');" action="{{ path('detalleventa_entrega_procesar') }}" class="form-horizontal " role="form" method="post"  enctype="multipart/form-data" novalidate>

            <div class="card-body">

                <div class="row mt-2 mb-4 ">
                    <div class="col-lg-12 ">
                        <input type="submit" class="btn btn-small btn-primary pull-right ml-2 " id="btn_procesar" value="Procesar entrega e imprimir guía" />
                    </div>                    
                </div>

                <div class="row mt-2 ">
                    <div class="col-lg-12">
                        <table id="detalle" class="table table-striped table-bordered">                            
                            <thead>
                                <tr>
                                    <th>Nro.Boleta</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Cantidad por entregar</th>
                                    <th>Cantidad entregada</th>
                                    <th>Cliente</th>
                                    <th class="text-center"><input type="checkbox" id="select_todo" name="" /></th>

                                </tr>
                            </thead>
                            <tbody>
                            {% set item = 1 %}
                            {% for detalle in facturaVenta.venta.detalleVenta %}
                                <tr>
                                    <td>{{ facturaVenta.ticket }}</td>
                                    <td>{{ detalle.productoXLocal.producto.nombre }}</td>
                                    <td><input type="text" class="form-control" id="cantidadinicial_{{ detalle.id }}" value="{{ detalle.cantidad }}" name="cantidadinicial_{{ detalle.id }}" size="2"  readonly/></td>
                                    {% set saldo_x_entregar = detalle.cantidad - detalle.cantidadEntregada %}
                                    {% if  saldo_x_entregar == 0 %} 
                                        <td>Producto entregado</td>
                                        {% else %}
                                        <td><input type="text" class="form-control cantidadentregada solonumeros" id="cantidad_{{ detalle.id }}" value="{{saldo_x_entregar}}" name="cantidad_{{ detalle.id }}" size="2"/></td>   
                                    {% endif %}

                                    <td>
                                        <input type="text" class="form-control" id="cantidadentregada_{{ detalle.id }}" value="{{ detalle.cantidadEntregada ? detalle.cantidadEntregada : 0 }}" name="cantidadentregada_{{ detalle.id }}" size="2"  readonly/>
                                        {#{{ detalle.cantidadEntregada  }}#}
                                    </td>

                                    <td>{{ facturaVenta.cliente }}</td>
                                    <td class="text-center">
                                        {% if  saldo_x_entregar != 0 %}
                                            <input type="checkbox" id="" class="select" name="select_{{ detalle.id }}" />
                                        {% endif %}
                                    </td>
                                    
                                </tr>
                                {% set item = item + 1 %}
                            {% endfor %}
                            <input type="hidden" class="form-control" id="factura_id" value="{{ facturaVenta.id }}" name="factura_id" size="2"/>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            </form>

        </div>




        <div class="card mx-auto mt-5">
            <div class="card-header">
                Lista de entregas realizadas
            </div>

            <div class="card-body">

                <div class="row mt-2 ">
                    <div class="col-lg-12">
                        <table id="entregas_realizadas" class="table table-striped table-bordered">                            
                            <thead>
                                <tr>
                                    <th>Fecha de entrega</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Usuario que procesó la entrega</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% set item = 1 %}
                            {% set identificador = '' %}
                            {% for entrega in entregas %}

                                {% if entrega.identificador != identificador %}
                                    <tr class="bg-secondary text-white "> 
                                        <td colspan="4">ENTREGA {{ item }}</td>
                                        <td class="text-center">
                                            <a href="#" data-toggle="modal" data-target="#modalEntrega" data-identificador="{{ entrega.identificador }}" class="mr-2" >
                                                <i class="fa fa-file fa-lg text-white" data-toggle="tooltip" title="Agregar datos de entrega"></i>                                            
                                            </a>                                
                                            <a href="javascript:window.open('{{ path('detalleventa_imprimir_entregaparcial', { 'id': facturaVenta.id ,'identificador':entrega.identificador }) }}','blank','width=595, height=842')" >
                                                <i class="fa fa-print fa-lg text-white" data-toggle="tooltip" title="Imprimir guía de entrega"></i>                                                
                                            </a>
                                        </td>
                                    </tr>
                                    {% set item = item + 1 %}
                                {% endif %}

                                <tr>
                                    <td>{{ entrega.fecha | date('d/m/Y H:i') }}</td>
                                    <td>{{ entrega.detalleVenta.productoXLocal.producto.nombre }}</td>
                                    <td>{{ entrega.cantidad }}</td>
                                    <td>{{ entrega.usuario.username }}</td>
                                    <td></td>
                                   
                                </tr>

                                
                                {% set identificador = entrega.identificador %}

                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="entregaModalLabel" id="modalEntrega" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Datos de entrega</h5>
                    <button type="button" class="close" onclick="$('#modalEntrega').modal('hide');" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>                    
                </div>

                    <div class="modal-body">

                        <div class="form-row">
                           
                            <div class="form-group col-md-8">
                                <label for="cliente">Nombre del Cliente</label>           
                                <input type="text" class="form-control" name="cliente" id="cliente"  />
                            </div>


                        </div>

                        <div class="form-row">

                            <div class="form-group col-md-12">
                                <label for="direccion">Dirección</label>                  
                                <input type="text" class="form-control" name="direccion" id="direccion" />
                            </div>

                        </div>

                        <input type="hidden" class="form-control" name="identificador" id="identificador" />

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btn_guardar">Guardar</button>
                        <button type="button" class="btn btn-secondary" onclick="$('#modalEntrega').modal('hide');">Cerrar</button>
                    </div>

            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">

        $(document).ready(function() {

            var btn_procesar  = $('#btn_procesar');
            var btn_entrega   = $('#btn_guardar');

            function contarCheckbox(){

                var j = 0;
                $(".select").each( function () {

                    j = j + 1;

                });

                if(j == 0)
                {
                    btn_procesar.prop('disabled',true);
                }else{
                    btn_procesar.prop('disabled',false);
                }

            }

            function deshabilitarBotones()
            {
                $('#btn_procesar').prop('disabled', true);
            }

            contarCheckbox();

            $("form").submit(function(event){

                deshabilitarBotones();

                setTimeout(function(){                            
                    location.reload();
                }, 500);

            });

            $('#select_todo').change(function() {

                var check = $(this).is(':checked');
                console.log(check);

                $(".select").each( function () {
                    $(this).prop('checked', check);
                });
                
            })


            $('#modalEntrega').on('shown.bs.modal', function (event) {

                var button = $(event.relatedTarget);
                var identificador = button.data('identificador');
                var modal = $(this);

                $('#identificador').val(identificador);

                $.ajax({
                    method: "POST",
                    url:"{{ path('obtener_entrega_datos_envio')}}",
                    data: { 'identificador':identificador,'entidad':'DetalleVentaEntregaDatosEnvio'},
                    dataType: 'json',
                    success: function(data){

                        $('#cliente').val(data['cliente']);
                        $('#direccion').val(data['direccion']);

                    }
                });


            });            

            btn_entrega.on('click', function (event) {

                var cliente   = $('#cliente').val();
                var direccion = $('#direccion').val();
                var identificador = $('#identificador').val();

                $.ajax({
                    method: "POST",
                    url:"{{ path('registrar_entrega_datos_envio')}}",
                    data: { 'cliente':cliente,'direccion':direccion,'identificador':identificador,'entidad':'DetalleVentaEntregaDatosEnvio'},
                    //dataType: 'json',
                    success: function(data){

                        if(data['exito'] == true){
                            bootbox.alert("La información fue registrada exitosamente.");
                        }

                    }
                });

            });     

            $('body').on('focusin', '.cantidadentregada', function(e){

                $(this).data('val', $(this).val());

            }).on('keyup','.cantidadentregada',function(e){

                var cantidadxentregar   = this.value;
                var id      = this.id.replace(/[^0-9]/g, '');;

                //console.log(id);

                var cantidadinicial = $('#cantidadinicial_'+id).val();
                var cantidadentregada = $('#cantidadentregada_'+id).val();

                var prev = $(this).data('val');

                if(Number(cantidadinicial) - Number(cantidadentregada) < Number(cantidadxentregar)){
                    bootbox.alert('La cantidad por entregar no puedo ser mayor a la cantidad vendida.');
                    $('#cantidad_'+id).val(prev);
                    return false;
                }

                
                
                

            });


        });

    </script>

{% endblock %}