{% extends 'base.html.twig' %}
{% block stylesheets %}

    {{ parent() }}
    <style type="text/css">

        #message {
            display:none;
        }


    </style>
{% endblock %}
{% block body %}

<div class="container">

    <form id="form" action="{{ path('administrador_new') }}" class="form-horizontal needs-validation" role="form" method="post"  novalidate>

        <div class="card mx-auto mt-5">
            <div class="card-header">Información general</div>
            <div class="card-body">

                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ form_row(form.nombres) }}

                        <div class="invalid-feedback">
                            Este valor es requerido.
                        </div>                
                    </div>
                    <div class="form-group col-md-2">
                        {{ form_row(form.apellidoPaterno) }}

                        <div class="invalid-feedback">
                            Este valor es requerido.
                        </div>                
                    </div>
                    <div class="form-group col-md-2">
                        {{ form_row(form.apellidoMaterno) }}

                        <div class="invalid-feedback">
                            Este valor es requerido.
                        </div>                
                    </div>            
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        {{ form_row(form.dni) }}

                        <div class="invalid-feedback">
                            Este valor es requerido.
                        </div>                
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_row(form.email) }}

                        <div class="invalid-feedback">
                            Este valor es requerido.
                        </div>                
                    </div>            
                
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ form_row(form.empresa) }}

                        <div class="invalid-feedback">
                            Este valor es requerido.
                        </div>                
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_row(form.local) }}

                        <div class="invalid-feedback">
                            Este valor es requerido.
                        </div>                
                    </div>            
                
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        {{ form_row(form.usuario.username,{'attr':{'class':'form-control'}} ) }}
                     
                    </div>
                    <div class="form-group col-md-2">
                        
                        {{ form_label(form.usuario.plainPassword.first) }}
                        {{ form_errors(form.usuario.plainPassword.first) }}
                        {{ form_widget(form.usuario.plainPassword.first, { 'attr': {'class': 'form-control ', 'placeholder': 'form.password'|trans } }) }}
                        
                        <div class="p-0" id="message">
                          <div class="alert alert-danger font-italic" id="number">Incluir 1 número</div>
                          <div class="alert alert-danger font-italic" id="length">Mínimo 6 caracteres</div>
                        </div>                               
                    </div>  
                    <div class="form-group col-md-2">
                        
                        {{ form_label(form.usuario.plainPassword.second) }}
                        {{ form_errors(form.usuario.plainPassword.second) }}
                        {{ form_widget(form.usuario.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans } }) }}                
                    
                    </div>  

                </div>


            </div>
        </div>



        {{ form_widget(form.estado) }}

        {{ form_widget(form._token) }}
        <div class="mt-4">
            <p class="pull-right">
                <input type="button" value="Cancelar" class="btn btn-small"  onclick="location.href='{{ path('administrador_index')}}'" />            
                <input type="submit" class="btn btn-small btn-primary" value="Guardar" />
            </p>
        </div>
        

    </form>
</div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}  

    <script type="text/javascript">

        $(document).ready(function() {

            var empresa_select   = $("#appbundle_administrador_empresa");
            var local_select     = $("#appbundle_administrador_local");


            empresa_select.on("change", function(){

                var data = {
                  empresa      : this.value,
                  autorizado  : 'si',
                }

                local_select.val('').attr("disabled", "disabled");

                $.ajax({
                  method: "POST",
                  url: "{{ path('obtener_local_desde_empresa')}}",
                  data: data,
                  success: function(data){
                    local_select.html(data).removeAttr("disabled");
                  }

                });
            });

      
        

            var myInput = document.getElementById("appbundle_administrador_usuario_plainPassword_first");
            var letter  = document.getElementById("letter");
            var capital = document.getElementById("capital");
            var number  = document.getElementById("number");
            var length  = document.getElementById("length");

            // When the user clicks on the password field, show the message box
            myInput.onfocus = function() {
              document.getElementById("message").style.display = "block";
            }

            // When the user clicks outside of the password field, hide the message box
            myInput.onblur = function() {
              document.getElementById("message").style.display = "none";
            }

            // When the user starts to type something inside the password field
            myInput.onkeyup = function() {
              // Validate numbers
              var numbers = /[0-9]/g;
              if(myInput.value.match(numbers)) { 
                number.classList.remove("alert-danger");
                number.classList.add("alert-success");
              } else {
                number.classList.remove("alert-success");
                number.classList.add("alert-danger");
              }

              // Validate length
              if(myInput.value.length >= 6) {
                length.classList.remove("alert-danger");
                length.classList.add("alert-success");
              } else {
                length.classList.remove("alert-success");
                length.classList.add("alert-danger");
              }
            };

        });

    </script>

{% endblock %}  