<!DOCTYPE html>
<html lang="es">

    <meta charset="utf-8">
    <head>
        <title>Guia remisión</title>
        <style type="text/css">

/*            body { 
                background-image: url('https://panenergi.files.wordpress.com/2014/06/poster-a4-01.png'); 
                background-repeat: no-repeat;
                background-size: 100%;
                opacity:0.5;
            }*/

/*body {
   position: relative;
   font-family: times new roman fb;font-size: 18px;
}
body:after {
    content: '';
    position: absolute;
    top: 0; right: 0;bottom: 0; left: 0;
    background: url("https://panenergi.files.wordpress.com/2014/06/poster-a4-01.png");
    background-repeat: repeat-y; 
    background-position: left center;
    background-attachment: fixed;
    background-size:100%;
    opacity:0.5;
} */

        </style>
    </head>

    <body>

        {% set puntoPartida_X = 0 %}
        {% set puntoPartida_Y = 0 %}
        {% set puntoLlegada_X = 0 %}
        {% set puntoLlegada_Y = 0 %}
        {% set fechaTraslado_X = 0 %}
        {% set fechaTraslado_Y = 0 %}
        {% set costoMinimo_X = 0 %}
        {% set costoMinimo_Y = 0 %}
        {% set marca_X = 0 %}
        {% set marca_Y = 0 %}
        {% set constanciaInscripcion_X = 0 %}
        {% set constanciaInscripcion_Y = 0 %}
        {% set licenciaConducir_X = 0 %}
        {% set licenciaConducir_Y = 0 %}
        {% set destinatario_X = 0 %}
        {% set destinatario_Y = 0 %}
        {% set rucDestinatario_X = 0 %}
        {% set rucDestinatario_Y = 0 %}
        {% set transporte_X = 0 %}
        {% set transporte_Y = 0 %}
        {% set rucTransporte_X = 0 %}
        {% set rucTransporte_Y = 0 %}
        {% set tipoComprobante_X = 0 %}
        {% set tipoComprobante_Y = 0 %}
        {% set numComprobante_X = 0 %}
        {% set numComprobante_Y = 0 %}
        {% set detalleCodigo_X = 0 %}
        {% set detalleCodigo_Y = 0 %}
        {% set detalleDescripcion_X = 0 %}
        {% set detalleDescripcion_Y = 0 %}
        {% set detalleCantidad_X = 0 %}
        {% set detalleCantidad_Y = 0 %}
        {% set detalleUnidad_X = 0 %}
        {% set detalleUnidad_Y = 0 %}
        {% set detallePeso_X = 0 %}
        {% set detallePeso_Y = 0 %}
        {% set inicioDetalleVenta_X = 0 %}
        {% set inicioDetalleVenta_Y = 0 %}


        {% for componenteXDocumento in componentesXDocumento %}
            
            {% if componenteXDocumento.componente.nombre == 'puntoPartida' %}
                {% set puntoPartida_X = componenteXDocumento.posicionX %}
                {% set puntoPartida_Y = componenteXDocumento.posicionY %}
            {% endif %}


            {% if componenteXDocumento.componente.nombre == 'puntoLlegada' %}
                {% set puntoLlegada_X = componenteXDocumento.posicionX %}
                {% set puntoLlegada_Y = componenteXDocumento.posicionY %}
            {% endif %}


            {% if componenteXDocumento.componente.nombre == 'fechaTraslado' %}
                {% set fechaTraslado_X = componenteXDocumento.posicionX %}
                {% set fechaTraslado_Y = componenteXDocumento.posicionY %}
            {% endif %}

            
            {% if componenteXDocumento.componente.nombre == 'costoMinimo' %}
                {% set costoMinimo_X = componenteXDocumento.posicionX %}
                {% set costoMinimo_Y = componenteXDocumento.posicionY %}
            {% endif %}


            {% if componenteXDocumento.componente.nombre == 'marca' %}
                {% set marca_X = componenteXDocumento.posicionX %}
                {% set marca_Y = componenteXDocumento.posicionY %}
            {% endif %}

            
            {% if componenteXDocumento.componente.nombre == 'constanciaInscripcion' %}
                {% set constanciaInscripcion_X = componenteXDocumento.posicionX %}
                {% set constanciaInscripcion_Y = componenteXDocumento.posicionY %}
            {% endif %}

            {% if componenteXDocumento.componente.nombre == 'licenciaConducir' %}
                {% set licenciaConducir_X = componenteXDocumento.posicionX %}
                {% set licenciaConducir_Y = componenteXDocumento.posicionY %}
            {% endif %}

            
            {% if componenteXDocumento.componente.nombre == 'destinatario' %}
                {% set destinatario_X = componenteXDocumento.posicionX %}
                {% set destinatario_Y = componenteXDocumento.posicionY %}
            {% endif %}


            {% if componenteXDocumento.componente.nombre == 'rucDestinatario' %}
                {% set rucDestinatario_X = componenteXDocumento.posicionX %}
                {% set rucDestinatario_Y = componenteXDocumento.posicionY %}
            {% endif %}

            
            {% if componenteXDocumento.componente.nombre == 'transporte' %}
                {% set transporte_X = componenteXDocumento.posicionX %}
                {% set transporte_Y = componenteXDocumento.posicionY %}
            {% endif %}

            {% if componenteXDocumento.componente.nombre == 'rucTransporte' %}
                {% set rucTransporte_X = componenteXDocumento.posicionX %}
                {% set rucTransporte_Y = componenteXDocumento.posicionY %}
            {% endif %}

            {% if componenteXDocumento.componente.nombre == 'tipoComprobante' %}
                {% set tipoComprobante_X = componenteXDocumento.posicionX %}
                {% set tipoComprobante_Y = componenteXDocumento.posicionY %}
            {% endif %}

            
            {% if componenteXDocumento.componente.nombre == 'numComprobante' %}
                {% set numComprobante_X = componenteXDocumento.posicionX %}
                {% set numComprobante_Y = componenteXDocumento.posicionY %}
            {% endif %}


            {% if componenteXDocumento.componente.nombre == 'detalleCodigo' %}
                {% set detalleCodigo_X = componenteXDocumento.posicionX %}
                {% set detalleCodigo_Y = componenteXDocumento.posicionY %}
            {% endif %}

            
            {% if componenteXDocumento.componente.nombre == 'detalleDescripcion' %}
                {% set detalleDescripcion_X = componenteXDocumento.posicionX %}
                {% set detalleDescripcion_Y = componenteXDocumento.posicionY %}
            {% endif %}

            {% if componenteXDocumento.componente.nombre == 'detalleCantidad' %}
                {% set detalleCantidad_X = componenteXDocumento.posicionX %}
                {% set detalleCantidad_Y = componenteXDocumento.posicionY %}
            {% endif %}

            {% if componenteXDocumento.componente.nombre == 'detalleUnidad' %}
                {% set detalleUnidad_X = componenteXDocumento.posicionX %}
                {% set detalleUnidad_Y = componenteXDocumento.posicionY %}
            {% endif %}

            
            {% if componenteXDocumento.componente.nombre == 'detallePeso' %}
                {% set detallePeso_X = componenteXDocumento.posicionX %}
                {% set detallePeso_Y = componenteXDocumento.posicionY %}
            {% endif %}

            {% if componenteXDocumento.componente.nombre == 'inicioDetalleVenta' %}
                {% set inicioDetalleVenta_X = componenteXDocumento.posicionX %}
                {% set inicioDetalleVenta_Y = componenteXDocumento.posicionY %}
            {% endif %}
                                                                                                                                                            
        {% endfor %}

        <span id="puntoPartida" style="position:absolute; top: {{ puntoPartida_X ~ 'px' }}; left: {{ puntoPartida_Y }}px; width: 600px; color: black;">{{ detalleVentaEntregaDatosEnvio ? detalleVentaEntregaDatosEnvio.puntoPartida | upper : ''  }}</span>
        <span id="puntoLlegada" style="position:absolute; top: {{ puntoLlegada_X }}px; left: {{ puntoLlegada_Y }}px; width: 600px; color: black;">{{ detalleVentaEntregaDatosEnvio ? detalleVentaEntregaDatosEnvio.puntoLlegada | upper : ''  }}</span>

        <span id="fechaTraslado" style="position:absolute; top: {{ fechaTraslado_X }}px; left: {{ fechaTraslado_Y }}px; width: 400px; color: black;">{{ detalleVentaEntregaDatosEnvio ? detalleVentaEntregaDatosEnvio.fechaTraslado | date('d/m/Y'): "now" | date('d/m/Y') }}</span>

        <span id="costoMinimo" style="position:absolute; top: {{ costoMinimo_X }}px; left: {{ costoMinimo_Y }}px; width: 400px; color: black;">{{ detalleVentaEntregaDatosEnvio ? detalleVentaEntregaDatosEnvio.costoMinimo : '' }}</span>
        <span id="marca" style="position:absolute; top: {{ marca_X }}px; left: {{ marca_Y }}px; width: 400px; color: black;">{{ detalleVentaEntregaDatosEnvio ? detalleVentaEntregaDatosEnvio.marca : '' }} -  {{ detalleVentaEntregaDatosEnvio ? detalleVentaEntregaDatosEnvio.placa : '' }}</span>
        <span id="constanciaInscripcion" style="position:absolute; top: {{ constanciaInscripcion_X }}px; left: {{ constanciaInscripcion_Y }}px; width: 400px; color: black;">{{ detalleVentaEntregaDatosEnvio ? detalleVentaEntregaDatosEnvio.constanciaInscripcion : '' }}</span>
        <span id="licenciaConducir" style="position:absolute; top: {{ licenciaConducir_X }}px; left: {{ licenciaConducir_Y }}px; width: 400px; color: black;">{{ detalleVentaEntregaDatosEnvio ? detalleVentaEntregaDatosEnvio.licenciaConducir : '' }}</span>


        <span id="destinatario" style="position:absolute; top: {{ destinatario_X }}px; left: {{ destinatario_Y }}px; width: 400px; color: black;">{{ detalleVentaEntregaDatosEnvio ? detalleVentaEntregaDatosEnvio.destinatario : '' }}</span>
        <span id="rucDestinatario" style="position:absolute; top: {{ rucDestinatario_X }}px; left: {{ rucDestinatario_Y }}px; width: 400px; color: black;">{{ detalleVentaEntregaDatosEnvio ? detalleVentaEntregaDatosEnvio.rucDestinatario : '' }}</span>

        <span id="transporte" style="position:absolute; top: {{ transporte_X }}px; left: {{ transporte_Y }}px; width: 400px; color: black;">{{  detalleVentaEntregaDatosEnvio ? detalleVentaEntregaDatosEnvio.transporte : '' }}</span>
        <span id="rucTransporte" style="position:absolute; top: {{ rucTransporte_X }}px; left: {{ rucTransporte_Y }}px; width: 400px; color: black;">{{  detalleVentaEntregaDatosEnvio.transporte ? detalleVentaEntregaDatosEnvio.transporte.ruc : '' }}</span>


       
        {% set top = inicioDetalleVenta_X %}
        {% set item = 1 %}
        {% set impuesto = 0 %}
        {% set total = 0 %}

        {#{% if facturaVenta %}#}

            {% for detalle in detalleVentaEntrega %}

                <span class="codigo" style="position:absolute; top: {{ top ~ 'px'}}; left: {{ detalleCodigo_Y }}px; width: 20px; color: black;">{{ detalle.detalleVenta.productoXLocal.producto.codigo }}</span>
                <span class="descripcion" style="position:absolute; top: {{ top ~ 'px'}}; left: {{ detalleDescripcion_Y }}px; width: 600px; color: black;">{{ detalle.detalleVenta.productoXLocal.producto.nombre | upper }}</span>                
                <span class="cantidad" style="position:absolute; top: {{ top ~ 'px'}}; left: {{ detalleCantidad_Y }}px; width: 20px; color: black;">{{ detalle.cantidad }}</span>
                <span class="unidad" style="position:absolute; top: {{ top ~ 'px'}}; left: {{ detalleUnidad_Y }}px; width: 20px; color: black;">{{ detalle.detalleVenta.productoXLocal.producto.unidadVenta.abreviatura | upper }}</span>
                <span class="peso" style="position:absolute; top: {{ top ~ 'px'}}; left: {{ detallePeso_Y }}px; width: 20px; color: black;">0</span>

                {% set top = top + 20 %}
                {% set item = item + 1 %}
                {% set total = total + detalle.detalleVenta.subtotal %}

            {% endfor %}

        {#{% endif %}#}

    
        <span id="tipoComprobante" style="position:absolute; top: {{ tipoComprobante_X }}px; left: {{ tipoComprobante_Y }}px; width: 20px; color: black;">{{ facturaVenta.tipo ? facturaVenta.documento | upper  : '' }}</span>
{#         <span id="numComprobante" style="position:absolute; top: {{ numComprobante_X }}px; left: {{ numComprobante_Y }}px; width: 20px; color: black;">{{ proforma.facturaVenta.documento }}</span> #}


        <span id="foot" style="position:absolute; top: 1679px; left: 0px; width: 20px; color: black;">.</span>

    </body>

</html>