{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
    <form id="form" action="{{ path('empresalocal_edit', {'id': empresaLocal.id}) }}" class="form-horizontal " role="form" method="post"  enctype="multipart/form-data" novalidate>

        <div class="card mx-auto mt-5">
            <div class="card-header">Información general</div>
            <div class="card-body"> 


                <div class="form-row">
                    <div class="form-group col-md-2">
                        {{ form_row(edit_form.codigo) }}

                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{ form_row(edit_form.nombre) }}
            
                    </div>
                    <div class="form-group col-md-4">
                        {{ form_row(edit_form.empresa) }}
           
                    </div>
                
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        {{ form_row(edit_form.telefono) }}
                    </div>
                    <div class="form-group col-md-2">
                        {{ form_row(edit_form.limite_venta) }}

                    </div>
                    <div class="form-group col-md-2 mt-5">
                        {{ form_label(edit_form.ventaNegativo) }}
                        {{ form_widget(edit_form.ventaNegativo) }}

                    </div>

                    <div class="form-group col-md-2 mt-5">
                        {{ form_label(edit_form.mostrarGuiaRemision) }}
                        {{ form_widget(edit_form.mostrarGuiaRemision) }}

                    </div>    

                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        {% set departamento_id    = '' %}
                        {% set provincia_id = '' %}
                        {% if edit_form.vars.value.distrito %}
                            {% set departamento_id    = edit_form.vars.value.distrito.provincia.departamento.id %}
                            {% set provincia_id = edit_form.vars.value.distrito.provincia.id %}
                        {% endif %}                
                        {{ form_row(edit_form.departamento,{'value': departamento_id|trim }) }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_row(edit_form.provincia, {'value': provincia_id|trim }) }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_row(edit_form.distrito) }}
                    </div>                       
                </div>

                <div class="form-row">

                    <div class="form-group col-md-3">
                        {{ form_row(edit_form.email) }}
              
                    </div>

                    <div class="form-group col-md-6">
                        {{ form_row(edit_form.direccion) }}
              
                    </div>
                               
                </div>

                <div class="form-row">

                    {% if originalFileProducto %}
                        <div class="form-group col-md-2">
                            <img src="{{ asset('uploads/imagenes/100x100/' ~ originalFileProducto) }}" height="100" width="100"/>
                        </div>                           
                    {% endif %}    

                    <div class="form-group col-md-4">

                        {{ form_row(edit_form.imagenProductoDefault) }}
               
                    </div>
                      
                    {% if originalFileCategoria %}
                        <div class="form-group col-md-2">
                            <img src="{{ asset('uploads/imagenes/100x100/' ~ originalFileCategoria) }}" height="100" width="100"/>
                        </div>                           
                    {% endif %}  

                    <div class="form-group col-md-4">
                        {{ form_row(edit_form.imagenCategoriaDefault) }}
               
                    </div>                               
                </div>        

                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ form_row(edit_form.prefijoVoucher) }}
                           
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_row(edit_form.serieGuiaremision) }}
                           
                    </div>                    
                    <div class="form-group col-md-3">
                        {{ form_row(edit_form.serieBoleta) }}
                        
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_row(edit_form.serieFactura) }}
                          
                    </div>                       
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ form_row(edit_form.facturacion_electronica) }}
                    </div>

                </div>
                           
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_row(edit_form.url_facturacion) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_row(edit_form.token_facturacion) }}
                    </div>
                   
                </div>

        </div>

        {{ form_row(edit_form.estado) }}        
        {{ form_widget(edit_form._token) }}

        <div class="mt-4">
            <p class="pull-right">
                <input type="button" value="Cancelar" class="btn btn-small"  onclick="location.href='{{ path('empresalocal_index')}}'" />            
                <input type="submit" class="btn btn-small btn-primary" value="Guardar" />
            </p>
        </div>
        

    </form>
</div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}  

    <script type="text/javascript">

        $(document).ready(function() {

            var region_select            = $("#appbundle_empresalocal_departamento");
            var provincia_select         = $("#appbundle_empresalocal_provincia");    
            var distrito_select          = $("#appbundle_empresalocal_distrito");
            var facturacion_electronica  = $("#appbundle_empresalocal_facturacion_electronica");
            var token                    = $("#appbundle_empresalocal_token_facturacion");
            var url                      = $("#appbundle_empresalocal_url_facturacion");

            region_select.on("change", function(){

                var data = {
                  region      : this.value,
                  autorizado  : 'si',
                }

                provincia_select.val('').attr("disabled", "disabled");

                $.ajax({
                  method: "POST",
                  url: "{{ path('obtener_provincia_desde_region')}}",
                  data: data,
                  success: function(data){
                    provincia_select.html(data).removeAttr("disabled");
                  }

                });
            });

            provincia_select.on("change", function(){

                var data = {
                  provincia   : this.value,
                  autorizado  : 'si',
                }

                distrito_select.val('').attr("disabled", "disabled");

                $.ajax({
                  method: "POST",
                  url: "{{ path('obtener_distrito_desde_provincia')}}",
                  data: data,
                  success: function(data){
                    distrito_select.html(data).removeAttr("disabled");
                  }

                });
            }); 


            $("form").submit(function(event){

                if(facturacion_electronica.val() == 1){


                    if(token.val() == '' || url.val() == ''){
                        bootbox.alert('Se ha seleccionado generar Facturación Electrónica por lo tanto debe ingresar un valor para el TOKEN y la ruta URL');
                        return false;
                    }

                }else{

                    return true;

                }

                return true;
                
            })   


        });

    </script>

{% endblock %}  