{% extends 'base.html.twig' %}

{% block body %}
    <h1>Detalleventaentrega</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ detalleVentaEntrega.id }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ detalleVentaEntrega.cantidad }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if detalleVentaEntrega.fecha %}{{ detalleVentaEntrega.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Identificador</th>
                <td>{{ detalleVentaEntrega.identificador }}</td>
            </tr>
            <tr>
                <th>Cliente</th>
                <td>{{ detalleVentaEntrega.cliente }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ detalleVentaEntrega.direccion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('detalleventaentrega_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('detalleventaentrega_edit', { 'id': detalleVentaEntrega.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
